{{#if @model}}
  <div class="players-list">
    <p><b>Players</b></p>
    {{#each @model.players as |player|}}
    <LinkTo @route="team.player" @model={{player.id}} class="player-link">{{player.name}}</LinkTo>
    {{/each}}
  </div>
  {{#if this.match_id}}
    <button type="button" {{on 'click' this.backToMatch}}>Back</button>
  {{/if}}
{{/if}}
{{outlet}}