{{page-title "ZPL"}}

{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
{{! Feel free to remove this! }}

<h3>ZPL</h3>
<h2>Zoho Premier League</h2>
<LinkTo @route="home">Home</LinkTo>
<LinkTo @route="matches">Matches</LinkTo>
<hr>

{{outlet}}